html {
  font-family: Lato, sans-serif;
  background-color: #eee9de;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.picture {
  display: inline-block;
}

.content {
  display: inline-block;
}

a {
  background-color: #eee9de;
  color: #333;
  padding: .4em .75em .5em;
  border-radius: 5px;
  text-decoration: none;
  border: 3px solid #666;
  margin: 1.5rem;
}

a:hover {
  color: white;
  background-color: #666;
}
