html {
  font-family: Lato, sans-serif;
  background-color: #eee9de;
  line-height: 1.5;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  padding: 2em 0;
  text-align: center;
  vertical-align: middle;
}

img {
  display: block;
  width: 100%;
}

.image {
  display: inline-block;
  width: 100%;
  max-width: 25em;
  padding: 1em;
  vertical-align: middle;
}

.info {
  display: inline-block;
  padding: 1em;
  max-width: 25em;
  width: 100%;
  vertical-align: middle;
  text-align: left;
}

.btn {
  display: inline-block;
  font-size: 1.125rem;
  color: #333;
  text-decoration: none;
  padding: .4em .75em .5em;
  border-radius: 5px;
  border: 3px solid #333;
  background-color: #eee9de;
}

a {
  font-size: 1.125rem;
  color: #333;
  text-decoration: none;
}

.btn:hover {
  background-color: #666;
}

.btn, a:hover {
  color: #eee9de;
  background-color: #666;
}

h2, p {
  margin: 0 0 1.5rem;
}
